.root {
  background-color: #fafafa;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin: 20px auto;
  text-align: center;
}
.Matrix {
  /* margin: 60px; */
  /* height: 100vh; */
  /* 声明一个容器 */
  display: grid;
  /*  声明列的宽度  */
  grid-template-columns: repeat(6, 100px);
  /*  声明行间距和列间距  */
  grid-gap: 10px;
  /*  声明行的高度  */
  /* grid-template-rows: 100px 200px; */
  justify-content: center;
  align-content: center;
}

.Matrix>div {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

button {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 1rem;
}